@{
    ViewData["Title"] = "PROJETO FINAL - JORNADA MS";
}

    <div class="text-center">
        <h2 class="display-3"><b>Projeto Elevador 🛗</b></h2><br />
    </div>

    <div class="text-justify">
        <h3 class="display-6">Objetivo</h3>
        <p>O projeto elevador foi desenvolvido na linguagem C# para obtenção do certificado de conclusão do curso Ocean Samsung Brasil.</p>
    </div>
    
    <div class="text-justify">
        <h3 class="display-6">Visão geral</h3>
        <p>O software que tem como função o gerenciamento de um elevador, nele terá as funções:</p>
        <p><strong>Inicializar:</strong> receber como parâmetros a capacidade do elevador e o total de
        andares no prédio (os elevadores sempre começam no térreo e vazio);</p>
        <p><strong>Entrar:</strong> acrescentar uma pessoa no elevador (só deve acrescentar se ainda houver
        espaço);</p>
        <p><strong>Sair:</strong> remover uma pessoa do elevador (só deve remover se houver alguém
        dentro dele);</p>
        <p><strong>Subir:</strong> subir um andar (não deve subir se já estiver no último andar);</p>
        <p><strong>Descer:</strong> descer um andar (não deve descer se já estiver no térreo);</p>
        <p><strong>Dica</strong> - O usuário vai informar quantos andares o elevador possui e a capacidade de pessoas.</p>
    </div>

    <div class="text-justify">
        <h3 class="display-6">Agradecimentos</h3>
        <p>A Deus, por me guiar sempre em busca dos meus objetivos e pela minha vida. 
            Ao professor Lucas A. Feliciano, por toda paciência e didática. 
            À Ocean Samsung Brasil, por toda dedicação e elaboração de todos os cursos.
            Aos meus colegas, por compartilharem e contríbuirem com as dúvidas.
        </p>
    </div>

         <h3 class="display-6">Menu do Sistema</h3>
            <li>Na primeira parte do sistema o usuário terá que informar a quantidade de andares do edifício e depois a quantidade de pessoas permitidas no elevador:</li>
         <br />
            <img src="~/image/parte1.png" class="img-fluid img-thumbnail" alt="Parte 1 do Projeto" />
         <br />
         <br />
            <li>Na segunda parte será apresentado ao usuário a tela com as informações inseridas anteriormente e o menu de opções do simulador:</li>
         <br />
            <img src="~/image/parte2.png" class="img-fluid img-thumbnail" alt="Parte 2 do Projeto" />
         <br />
         <br />
            <li>Agora o menu mostra na tela que entrou uma pessoa, quantidade e andar atual do elevador:</li>
         <br />
            <img src="~/image/parte3.png" class="img-fluid img-thumbnail" alt="Parte 3 do Projeto" />
         <br />
         <br />
            <li>Incluindo mais uma pessoa, mostrando a quantidade e andar atual do elevador:</li>
         <br />
            <img src="~/image/parte4.png" class="img-fluid img-thumbnail" alt="Parte 4 do Projeto" />
         <br />
         <br />
            <li>Ainda no térreo, utilizando a opção 2, uma pessoa saiu do elevador:</li>
         <br />
            <img src="~/image/parte5.png" class="img-fluid img-thumbnail" alt="Parte 5 do Projeto" />
         <br />
         <br />
            <li>Exemplo de error ao informar número não correspondente do menu:</li>
         <br />
            <img src="~/image/parte6.png" class="img-fluid img-thumbnail" alt="Parte 6 do Projeto" />
         <br />
         <br />
            <li>Exemplo do elevador subindo ao 1º andar:</li>
         <br />
            <img src="~/image/parte7.png" class="img-fluid img-thumbnail" alt="Parte 7 do Projeto" />
         <br />
         <br />
            <li>Exemplo do elevador subindo ao 3º andar:</li>
         <br />
            <img src="~/image/parte8.png" class="img-fluid img-thumbnail" alt="Parte 8 do Projeto" />
         <br />
         <br />
            <li>Exemplo do elevador subindo ao 10º andar:</li>
         <br />
            <img src="~/image/parte9.png" class="img-fluid img-thumbnail" alt="Parte 9 do Projeto" />
         <br />
         <br />
            <li>Exemplo do elevador no 10º e último andar:</li>
         <br />
            <img src="~/image/parte10.png" class="img-fluid img-thumbnail" alt="Parte 10 do Projeto" />
         <br />
         <br />
            <li>Exemplo do elevador descendo ao 8º andar:</li>
         <br />
            <img src="~/image/parte11.png" class="img-fluid img-thumbnail" alt="Parte 11 do Projeto" />
         <br />
         <br />
            <li>Exemplo do elevador descendo ao 1º andar:</li>
         <br />
            <img src="~/image/parte12.png" class="img-fluid img-thumbnail" alt="Parte 12 do Projeto" />
         <br />
         <br />
            <li>Exemplo do elevador chegou no térreo:</li>
         <br />
            <img src="~/image/parte13.png" class="img-fluid img-thumbnail" alt="Parte 13 do Projeto" />
         <br />
         <br />
            <li>Elevador com informação que está no térreo e não desce mais:</li>
         <br />
            <img src="~/image/parte14.png" class="img-fluid img-thumbnail" alt="Parte 14 do Projeto" />
         <br />
         <br />
            <li>Exemplo da opção 5 finalizando o simulador:</li>
         <br />
            <img src="~/image/parte15.png" class="img-fluid img-thumbnail" alt="Parte 15 do Projeto" />
         <br />
         <br />
	    
         <h5 class="display-6"><strong>Variáveis e Funções:</strong></h5>

        
		    <li><strong>Inicializar (Controller):</strong></li>
    
            <p>Deve receber como parâmetros a capacidade do elevador e o total de
            andares no prédio (os elevadores sempre começam no térreo e vazio);</p>
            <br />
                <img src="~/image/inicial.png" class="img-fluid img-thumbnail" alt="Parte inicial do Projeto" />
            <br />
            <br />

            <h5 class="display-6"><strong>Métodos:</strong></h5>
            <br />
                <img src="~/image/var1.png" class="img-fluid img-thumbnail" alt="Parte inicial métodos do Projeto" />
            <br />
            <br />

            <li><strong>Entrar:</strong></li>

            <p>Deve acrescentar uma pessoa no elevador (só deve acrescentar se ainda houver
            espaço);</p>

            <li><strong>Sair:</strong></li>

            <p>Deve remover uma pessoa do elevador (só deve remover se houver alguém
            dentro dele);</p>
            <br />
                <img src="~/image/var2.png" class="img-fluid img-thumbnail" alt="Métodos entrar e sair do Projeto" />
            <br />
            <br />

            <li><strong>Subir:</strong></li>

            <p>Deve subir um andar (não deve subir se já estiver no último andar);</p>

            <li><strong>Descer:</strong></li>

            <p>Deve descer um andar (não deve descer se já estiver no térreo).</p>
            <br />
                <img src="~/image/var3.png" class="img-fluid img-thumbnail" alt="Métodos subir e descer do Projeto" />
            <br />
            <br />

            <h5 class="display-6"><strong>View:</strong></h5>

            <p>Menu de opções do usuário.</p>
            <br />
                <img src="~/image/view1.png" class="img-fluid img-thumbnail" alt="Métodos subir e descer do Projeto" />
          
                <img src="~/image/view2.png" class="img-fluid img-thumbnail" alt="Métodos subir e descer do Projeto" />
            <br />
            <br />

    <div class="text-justify">
        <h3>Made with ❤︎ by Rafael Moreira 🚀</h3>
    </div>

    <div class="text-justify">
          <p>
                Link do ProjetoElevador e ProjetoElevador_Documentacao - GitHub
                <a href="https://github.com/RafaeltiMoreira/projetofinal-ocean-samsung"> Projeto Elevador </a>
          </p>
    </div>

